<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="layout :: link-css"></th:block>
    <title>Add Supplier</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <h1>Add</h1>
    <form th:action="@{/suppliers/add}" th:object="${suppliers}" method="post">

        <div class="col-6 mb-3">
            <label class="form-label" for="suppName">Tên Nhà Cung Cấp:</label>
            <input class="form-control" type="text" th:field="*{suppName}" id="suppName">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="email">Email: </label>
            <input class="form-control" type="text" th:field="*{email}" id="email">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="sdt">Sđt:</label>
            <input class="form-control" type="text" th:field="*{sdt}" id="sdt">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="address">Address:</label>
            <input class="form-control" type="text" th:field="*{address}" id="address">
        </div>

        <input type="submit" class="btn btn-primary" value="Save">
    </form>
    <br>
    <a th:href="@{/suppliers}">Back to List</a>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>

</html>